{% extends "ytmusic/layout.html" %}

{% block body %}


<div class='Top_Header'>
    <h2>Playlists</h2>
</div>


<div>
    <ul>
        {% for playlist in playlists %}
        <li>
                <a class="TrackItem__TrackContainer" href="{% url 'ytmusic_playlist_detail' playlist.playlistId %}">
                <div>
                <div class="TrackItem__TrackArtwork">
                <img src="{{ playlist.thumbnails.0.url }}" alt="Album Artwork">
                </div>
                </div>
                <div class="TrackItem__TrackMeta">
                <span class="TrackItem__TrackLeft">
                <span class="TrackItem__TrackName">{{playlist.title}}</span>
                <div class="TrackItem__TrackAlbum">
                </div>
                </span>
                <span class="TrackItem__TrackRight">
                <span class="TrackItem__TrackDuration">
                    {% if playlist.count %}
                    Tracks: {{playlist.count}}
                    {% endif %}
                </span>
                </span>
                </div>
                </a>
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}